<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="common_header(title,links)">
    <!-- Required meta tags -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">

    <title th:replace="${title}">Aplikacja Kujon</title>


    <!--/* Per-page placeholder for additional links */-->
    <th:block th:replace="${links}" />


</head>
</html>