<!doctype html>
<html lang="en" class="h-100" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: common_header(~{::title},~{})">
    <!-- Required meta tags -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!--<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">-->

    <title>Logowanie</title>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/main.css">
</head>
<body class="d-flex flex-column h-100">
<main role="main">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-4">

                <h1>Logowanie</h1>

                <form name='login' action="index.html" method='POST'
                      th:action="@{/login}">
                    <fieldset>
                        <div class="alert alert-success" role="alert" th:if="${logoutMessage}"
                             th:text="${logoutMessage}">
                            Zostałeś poprawnie wylogowany !!
                        </div>
                        <div class="alert alert-success" role="alert" th:if="${registrationMessage}"
                             th:text="${registrationMessage}">
                            Rejestracja przebiegła pomyślnie !!
                        </div>
                        <div class="alert alert-danger" role="alert" th:if="${errorMessage}" th:text="${errorMessage}">
                            Nazwa
                            użytkownika lub hasło nie są poprawne !!
                        </div>
                        <div class="form-group">
                            <!--<label for="loginInput">Nazwa użytkownika</label>-->
                            <input type="text" name='username' value='' class="form-control" id="loginInput"
                                   aria-describedby="loginHelp"
                                   placeholder="Podaj login">
                            <!--<small id="loginHelp" class="form-text text-muted">Proszę podać login.</small>-->
                        </div>
                        <div class="form-group">
                            <!--<label for="passwordInput">Hasło</label>-->
                            <input type="password" name='password' class="form-control" id="passwordInput"
                                   placeholder="Podaj Hasło">
                        </div>
                        <div class="form-group">
                            <a href="registration.html" th:href="@{/reg/registration}">Zarejestruj nowego
                                użytkownika</a>
                        </div>
                        <button type="submit" class="btn btn-primary">Logowanie</button>
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</main>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>