<!DOCTYPE HTML>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: common_header(~{},~{})">
    <title>Aplikacja Kujon</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Common styles and scripts -->
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">


    <link rel="stylesheet" href="../static/css/main.css">


</head>


<body class="d-flex flex-column h-100">
<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="/">Kujon</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="/utworzGrupe">Utwórz grupę<span
                        class="sr-only">(current)</span></a>
                <a class="nav-item nav-link active" href="/utworzTest">Utwórz test<span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link active" href="/pokazTestyDlaAdmina">Pokaż testy<span class="sr-only">(current)</span></a>
            </div>
        </div>

        <a class="navbar-brand my-2 my-sm-0" href="/logout">Wyloguj</a>
    </nav>
</header>


<div style=" height:800px; overflow:auto;">


    <table class="table table-dark table-hover" id="listTable">
        <thead>
        <tr>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>Nazwa Testu</th>
            <th>Wynik</th>
            <th>Zaliczenie</th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="test2 :${userTests} ">
            <td th:text="${selectedUser.firstName}">666</td>
            <td th:text="${selectedUser.lastName}">666</td>
            <td th:text="${test2.test.testName}">666</td>
            <td th:text="${test2.score}">666</td>
            <td th:text="${test2.testPassed} ? ' Zaliczony ' : ' Niezaliczony '"></td>
            <td>
                <a th:href="@{/checkClosedTest(testid = ${test2.id})}" type="button"
                   th:class="${!test2.testAvailable} ? 'btn btn-primary' : 'btn btn-danger disabled'">Sprawdź odpowiedzi
                    // niedostępne </a>
                <!--            <a th:href="@{/checkClosedTest}" type="button" th:class="btn btn-danger disabled">Funkcjonalność niedostępna </a>-->
            </td>
        </tr>
        </tbody>

    </table>
</div>


<footer class="footer mt-auto py-3">
    <div class="container">
        <span class="text-muted">Made by Marcin Chojniak.<br> Contact by email: marcin.chojniak3@gmail.com</span>
    </div>
</footer>
<!--<div th:replace="fragments/bootstrap :: JavaScript">-->

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<!--</div>-->
</body>

</body>
</html>